.profile-main{
    width: 81rem;
    height: 14.5rem;
}
.profile-det{
    width: 75%;
}
.profile-pics{
    width: 25%;
}
.profile-img{
    border-radius: 50%;
    width: 220px;
    height: 228px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8rem;
    background-color: #26BDD2;
    color: white;
}
.profile-info{
    width: 70%;
    height: 11.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.profile-more{
    width: 15.5rem;
    color: #808080;
    font-weight: 500;
    font-size: 18px;
}
.edit{
    width: 25%;
}
.edit-btn{
    width: 4rem;
    height: 2rem;
    border: 1px solid #26BDD2;
    background: none !important;
    border-radius: 10px;
    padding: 7px, 20px, 7px, 20px;
    
}
.addy{
    display: none !important;;
}
@media (min-width: 1080px) and (max-width: 1280px) {
    .profile-main{
        width: 70rem;
    }
}
@media (min-width:769px) and (max-width: 1080px) {
    .profile-main{
        width: 45rem;
    }
    .profile-det{
        width: 85%;
    }
    .profile-pics{
        width: 20%;
    }
    /* .profile-img{
        width: 198px;
        height: 220px;
    }  */
    .profile-info{
        width: 60%;
    }
    .edit{
        width: 15%;
        
    }
}
@media (max-width: 768px) {
    .profile-main{
        width: 23rem;
        height: 15rem;
    }
    .profile-img{
        border-radius: 50%;
        width: 200px;
        height: 210px;
    }
    .param{
        display: none !important;
    }
    .names{
        display: none !important;
    }
    .profile-more{
        display: none !important;
    }
    .profile-mores{
        width: 15.5rem;
        color: #808080;
        font-weight: 500;
        font-size: 18px;
    }
    .addy{
        display: block !important;
    }
}