.blog-card-recom{
    width: 420px;
    height: 450px;
    max-height: 500px;
    margin-bottom: 30px;
}
.blog-card-recom img{
    width: 100%;
    height: 55%;
    border-radius: 8px;
}
.content-recom .content-info{
    display: flex;
    align-items: center;
    gap: 20px;
}
.content-recom .content-info > :nth-child(1){
    display: flex;
    align-items: center;
    gap: 5px;
}
.content-recom .content-info > :nth-child(2){
    display: flex;
    align-items: center;
}
.link{
    text-decoration: none;
    color: white;
    color: black;
}
@media (max-width: 768px) {
    .blog-card-recom{
        /* border: 1px solid red; */
        width: 350px;
        height: 455px;
        max-height: 500px;
        margin-bottom: 30px;
    }
}